

*{
    box-sizing: content-box;
    margin: 0;
}

img {
    
    border: 1px solid var(--rougefonce);
}


:root {
    --blanc: #FFFFFF;
    --grispastel: #B3B3B3;
    --grispale: #7D7D7D;
    --gris: #525252;
    --grisfonce: #383838;
    --noir: #000000;
    --rougefonce: #973F3F;

}

body{
    overflow-x: hidden;
    background-color: var(--noir);
    margin: 0;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100vw;
    height:100vh;
    background-image: url("../img/img_arriere_plan/titre/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) brightness(150%) ;
}

p {
    filter:brightness(200%)
}


.titrehistoire {
    margin-bottom: 1%;
}

.titrehistoire{
    
    font-family: "PT Serif", serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    width:100vw;
    text-align: center;
    color: var(--blanc);
}

.paragraphe{
    font-family:"Overlock" ;
    text-align: center;
    color:var(--noir);
    font-size: 12px;
    
}
.textedescription {
    width:80vh;
    font-size: 16px;
    text-align: center;
    font-family:"Overlock" ;
    color: var(--blanc);
    
}
.containerfleche{
    display: flex;
    flex-direction: column;
    width:150px;
    height:150px;
}

@media screen and (max-width: 1500px){
    .fleche img {
        width: 8vh;
        height: 8vh;
    }
    
}

@media screen and (max-width:1200px) {
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 13px;
    }

}

@media screen and (max-width:800px) {
    .titrehistoire{
        font-family: "PT Serif", serif;
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        width:90vw;
        text-align: center;
        color: var(--blanc);
    }
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 13px;
    }

    .textedescription {
        width:70vw;
        font-size: 16px;
        margin-bottom: 10%;
        text-align: center;
        font-family:"Overlock" ;
        color: var(--blanc);
    }

    .containerfleche{
        display: flex;
        flex-direction: column;
        width:150px;
        height:150px;
    }

    
    .fleche img {
    width: 6vh;
    height: 6vh;
    

    }
   

}

@media screen and (max-width: 500px) {
    .titrehistoire{
        font-family: "PT Serif", serif;
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        width:90vw;
        text-align: center;
        color: var(--blanc);
        margin-bottom: 0;
    }

    .textedescription {
        width:70vw;
        font-size: 16px;
        text-align: center;
        font-family:"Overlock" ;
        color: var(--blanc);
    }
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 11px;
    }
    
}



.containerfleche {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.titredesc {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titre, .chapitre1, .chapitre2, .chapitre3, .chapitre4, .chapitre5, .chapitre6, .chapitre7, .chapitre8 {
    width:100vw;
    height:100vh;
    margin:0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #f53434;
    overflow: hidden;
}

/*--------------------titre -------------------------------*/

.titremorph{

    position: absolute;
    font-family:"Shadows Into Light";
    font-size: 10vh;
    color:var(--blanc);

}

.svgtrace{
    position: absolute;
    top:10vh;
}

.titre1perso{
    position: absolute;
    
    width:28vw;
    height:28vh;
    
}

@media screen and (min-width:1000px) {
    .titremorph{
        text-align: center;
        top:37vh;
        font-size: 10vh;
        left:0;
        right:0;

       
    
    }
    .Rmorph{
        position: absolute;
        left:40vw;
        right:0;
        top: 35.5vh;
        width:23vw;
        height:23vh;
        filter: invert(99%) sepia(19%) saturate(147%) hue-rotate(170deg) brightness(112%) contrast(100%);
    }

    .titre1perso{
        top:35vh;
        right:40vw;
    }

}

@media screen and (max-width:1000px) {

    .titremorph{
        position: absolute;
        text-align: center;
        top:25vh;
        left:0;
        right:0;
        font-size: 13vh;

       
    
    }
    .Rmorph{
        position: absolute;
        left:45vw;
        right:0;
        top: 35.5vh;
        width:26vw;
        height:26vh;
        filter: invert(99%) sepia(19%) saturate(147%) hue-rotate(170deg) brightness(112%) contrast(100%);
    }

    .titre1perso{
        top:35vh;
        left:30vw;
    }

}

@media screen and (max-width:500px) {
    .titremorph{
        position: absolute;
        text-align: center;
        top:15vh;
        left:0;
        right:0;
        font-size: 13vh;
        
       
    
    }

    .Rmorph{
        
        position: absolute;
        left:45vw;
        right:0;
        top: 35vh;
        width:28vw;
        height:28vh;
        filter: invert(99%) sepia(19%) saturate(147%) hue-rotate(170deg) brightness(112%) contrast(100%);
    }
    
    
    .titre1perso{
        top:35vh;
        right:50vh;
    }
    

}


/*-----------------------------chapitre 1------------------------------*/
.chapitre1 {
    background-image: url("../img/img_arriere_plan/chapitre_1/background_ciel_chapitre_1.png");
}


@media screen and (min-width:1000px) {
    .image1perso{
        right:25vw;
        
    }

}

@media screen and (max-width:1000px) {
    .image1perso{
        right:20vw;
        
    }

}

@media screen and (max-width:500px) {
    .image1perso{
        right:25vw;
        
    }
    

}



.image1perso{
    position: absolute;
    width:25vw;
    height:25vh;
}

/*---------------------chapitre 2----------------------------------*/
.containerparallax{
    background-image: url("../img/img_arriere_plan/chapitre_2/background_foret_arbre_loin__chapitre_2.png");
    width:100vw;
    height:100vh;
    margin:0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

.imageparallaxdevant, .imageparallaxmilieu, .imageparallaxarriere {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 0;
    width:100vw;
    height:100vh;
}
/*

.web{
    z-index: 7;
    position: absolute;
    width:2px;
    height:50vh;
    left:45.3vw;
    background-color: #ffffff;
}
*/
.image2monstre{
    z-index: 7;
    position: absolute;
    height: 55vh;
    
    
}



@media screen and (min-width:1000px) {
    .image2monstre{
        left: 37vw;
        top:10vh;
    }

    .image2perso{
        left:45vw;
    }

}

@media screen and (max-width:1000px) {
    .image2monstre{
        left: 25vw;
        top:5vh;
    }

    .image2perso{
        left:40vw;
    }

}

@media screen and (max-width:500px) {
    .image2monstre{
        left: 5vw;
        top:5vh;
    }

    .image2perso{
        left:30vw;
    }

}




.image2perso{
    z-index: 7;
    position: absolute;
    height: 40vh;
    bottom: -3vh;
    margin-bottom: 0;
}


.imageparallaxdevant{
    z-index: 6;
    background-image: url("../img/img_arriere_plan/chapitre_2/background_foret_arbre_proche__chapitre_2.png");
    width:100vw;
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

.imageparallaxmilieu{
    z-index: 3;
    background-image: url("../img/img_arriere_plan/chapitre_2/background_foret_arbre_milieu__chapitre_2.png");
    width:100vw;
    height:100vh;
    margin-top:0;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;

}
.imageparallaxarriere{
    background-image: url("../img/img_arriere_plan/chapitre_2/background_foret_arbre_loin__chapitre_2.png");
    width:100vw;
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;

}
/*------------------------------chapitre 3-------------------------------------*/
.chapitre3 {
    background-image: url("../img/img_arriere_plan/chapitre_3/background_vide_noir_chapitre_3.png");  
    object-fit: cover;
    background-position: bottom;
}

.image3perso {
    z-index: 7;
    position: absolute;
    height: 40vh;
    bottom: -2vh;

}

.image3monstre{
    width: 80vh;
    position: absolute;
    border:solid 1px aqua;
}


@media screen and (min-width:1000px) {
    .image3monstre{
        left: 30vw;
    }

    .image3perso{
        left:35vw;
    }

}

@media screen and (max-width:1000px) {
    .image3monstre{
        right: 15vw;
    }

    .image3perso{
        left:40vw;
    }

}

@media screen and (max-width:500px) {
    .image3monstre{
        left: -9vw;
        width:70vh;
    }

    .image3perso{
        left:30vw;
    }

}




/*----------------------------------------chapitre 4---------------------------------------*/
.chapitre4 {
    background-image: url("../img/img_arriere_plan/chapitre_4/background_foret_chapitre_4.png");  
}
.image4perso{
    z-index: 7;
    position: absolute;
    height: 40vh;
    bottom: -2vh;
}

.image4monstre{
    width: 80vh;
    position: absolute;
    
    
}

@media screen and (min-width:1000px) {
    .image4monstre{
        left: 20vw;
    }

    .image4perso{
        left:20vw;
}


}

@media screen and (max-width:1000px) {
    .image4monstre{
        left: 15vw;
    }

    .image4perso{
        left:25vw;
    }

}

@media screen and (max-width:500px) {
    .image4monstre{
        left: 2vw;
    }

    .image4perso{
        left:0vw;
    }

}


/*------------------------------------------chapitre 5-----------------------------------------*/

.containerdecontruction{
    width:100vw;
    height:100vh;
    overflow: hidden;
}

.imageconstructiondevant{
    background-image: url("../img/img_arriere_plan/chapitre_5/background_foret_arbre_avant_chapitre_5.png");
    width:100vw;
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    z-index: 6;
    

}

.image5perso{
    z-index: 7;
    position: absolute;
    height: 50vh;
    bottom: 0px;
}


@media screen and (min-width:1000px) {
   

    .image5perso{
        left:40vw;
    }

    .bgsprite.deux{
        width:10vw;
        width:10vw;
    }

}

@media screen and (max-width:1000px) {
  

    .image5perso{
        left:35vw;
    }

    .bgsprite.deux{
        width:20vw;
        height:20vw;
    }

}

@media screen and (max-width:500px) {
    

    .image5perso{
        left:30vw;
    }

    .bgsprite.deux{
        width:25vw;
        height:25vw;
    }

}

.imageconstructionmilieu{
    background-image: url("../img/img_arriere_plan/chapitre_5/background_foret_arbre_arriere_chapitre_5.png");
    width:100vw;
   
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    z-index: 3;
}

.rectanglecontainer{
    position: absolute;
    z-index: 5;
    top:60vh;
    width:100vw;
    height:14vh;
    background-color: var(--noir);
}
.imageconstructionarriere{
    background-image: url("../img/img_arriere_plan/chapitre_5/background_foret_chapitre_5.png");
    width:100vw;
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-repeat: repeat-x;
    z-index: -3;
}


/*----------------------------------------------------chapitre 6-------------------------------------*/
.chapitre6 {
    background-image: url("../img/img_arriere_plan/chapitre_6/background_vide_chapitre_6.png");  
}

.image6monstre1, .image6monstre2, .image6monstre3, .image6monstre4, .image6monstre5, .image6monstre6, .image6monstre7 {
    position: absolute;
}

.image6monstre1{
    width: 30vh;;
}

.image6monstre2, .image6monstre3, .image6monstre4, .image6monstre5, .image6monstre6, .image6monstre7 {
    width:20vh;
}

.image6perso{
    z-index: 7;
    position: absolute;
    height: 50vh;
    bottom: 0px;
}


@media screen and (min-width:1000px) {
   

    .image6perso{
        left:40vw;
    }
    .image6monstre1{
        top:8.5vh;
        left:39vw;
        

    }

    .image6monstre2{
        top: 41vh;
        left: 0vw;
       

    }

    .image6monstre3{
        left: 0;
       
        top: 65vh;

    }

    .image6monstre4{
        
        
        top: 40vh;
        right: 0;

    }

    .image6monstre5{
      
        
        top: 65vh;
      
        right: 0;

    }

    .image6monstre6{
        left: 0;
        
        top: 18vh;

    }

    .image6monstre7{
        
        right: 0;
        top: 18vh;

    }


}

@media screen and (max-width:1000px) {
   

    .image6perso{
        left:40vw;
    }
    .image6monstre1{
        left:30vw;
        top:7vh;
        

    }

    .image6monstre2{
        top: 41vh;
        left: 0vw;
       

    }

    .image6monstre3{
        left: 0;
       
        top: 65vh;

    }

    .image6monstre4{
        
        
        top: 40vh;
        right: 0;

    }

    .image6monstre5{
      
        
        top: 65vh;
      
        right: 0;

    }

    .image6monstre6{
        left: 0;
        
        top: 18vh;

    }

    .image6monstre7{
        
        right: 0;
        top: 18vh;

    }


}

@media screen and (max-width:500px) {
    
    .image6monstre1{
        left:30vw;
        top:12vh;
        width: 25vh;

    }

    .image6monstre2{
        top: 35vh;
        left: 0;
        width: 15vh;

    }

    .image6monstre3{
        left: 0;
        width: 15vh;
        top: 55vh;

    }

    .image6monstre4{
        
        width: 15vh;
        top: 35vh;
        right: 0vh;

    }

    .image6monstre5{
        
        width: 15vh;
        top: 55vh;
        right: 0vh;

    }

    .image6monstre6{
        left: 0;
        width: 15vh;
        top: 18vh;

    }

    .image6monstre7{
        right: 0vh;
        width: 15vh;
        top: 18vh;

    }

    .image6perso{
        left:30vw;
    }

    

}

/*-------------------------------------------------------------------chapitre 7---------------------------------------*/ 
.chapitre7 {
    background-image: url("../img/img_arriere_plan/chapitre_7/background_foret_chapitre_7.png"); 
}

.image7perso{
    z-index: 7;
    position: absolute;
    height: 60vh;
    bottom: -1vh;

}


@media screen and (min-width:1000px) {
   

    .image7perso{
        left:40vw;
    }

    

}

@media screen and (max-width:1000px) {
  

    .image7perso{
        left:35vw;
    }

}

@media screen and (max-width:500px) {

    .image7perso{
        left:30vw;
    }

}

/*-----------------------------------------------chapitre 8-------------------------------------*/
.chapitre8 {
    background-image: url("../img/img_arriere_plan/chapitre_8/background_foret_chapitre_8.png"); 
}

.image8perso{
    z-index: 7;
    position: absolute;
    height: 70vh;
    bottom: -3vh;

}


@media screen and (min-width:1000px) {

    .image8perso{
        left:20vw;
    }

    .bgsprite.un{
        position: absolute;
        left:50vw;
        width:30vw;
        height:30vw;

    }


}

@media screen and (max-width:1000px) {
    

    .image8perso{
        left:10vw;
        height: 50vh;
    }
    .bgsprite.un{

        width:40vw;
        height:40vw;

    }

}

@media screen and (max-width:500px) {
   

    .image8perso{
        left:0vw;
        height: 50vh;
    
        
    }
    .bgsprite.un{

        width:50vw;
        height:50vw;

    }

}


/*----------------------------------Textes------------------------------------------------*/

.texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8{
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 7;
    mix-blend-mode:hard-light;
    filter:brightness(100%);
    color: var(--blanc);
    font-family:'Shadows Into Light';
    font-size: 4vh;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}


@media screen and (min-width:1000px) {
   

    .texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8{
        
        font-size: 7vh;
    }

    

}

@media screen and (max-width:1000px) {
    .texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8{
        
        font-size: 4vh;
    }


}


@media screen and (max-width:500px) {
    .texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8{
        
        font-size: 4vh;
    }
    

}



/*------------------------------------------------- page spritesheet ---------------------------------------------------*/
/*
.containersprite{
   width:100vw;
   height:100vh;
}
*/

.isScrolling .bgsprite{
animation-play-state: running;
}


.couleurspritebg{
    position: absolute;
    z-index: 7;
    width:100vw;
    height:100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}



.bgsprite{
    width:50vh;
    height:auto;
    aspect-ratio: 1/1;
    background-size: 6000% 100%;
    animation-duration:3s ;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
    filter: drop-shadow( 0 0 100px var(--blanc)) brightness(10000%);
}

.bgsprite.un {
    background-image: url("../img/img_elements_visuels/spritesheet/spritesheet_boule_grossit.png");
    animation-name:bouleGrossit;
}

@keyframes bouleGrossit {
    from { background-position: 0 0;}
    to { background-position: 6000% 0 ;}
    
}




.bgsprite.deux{
    background-image: url("../img/img_elements_visuels/spritesheet/spritesheet_boule_clignotement.png");
    animation-name:bouleClignottement;
}

@keyframes bouleClignottement {
    from { background-position: 0 0;}
    to { background-position: 6000% 0 ;}
    
}
/*
@media screen and (max-width: 800px) {
    .bgsprite.un, .bgsprite.deux{
        width:200px;
        height: 200px;
    }
}
*/
