

*{
    box-sizing: content-box;
    margin: 0;
}


:root {
    --blanc: #FFFFFF;
    --grispastel: #B3B3B3;
    --grispale: #7D7D7D;
    --gris: #525252;
    --grisfonce: #383838;
    --noir: #000000;
    --rougefonce: #973F3F;

}

body{
    overflow-x: hidden;
    background-color: var(--noir);
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100vw;
    height:100vh;
    background-image: url("../img/img_arriere_plan/titre/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) brightness(150%) ;
}

p {
    filter:brightness(200%)
}

.titrehistoire {
    margin-bottom: 1%;
}

.titrehistoire{
    font-family: "PT Serif", serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    width:100vw;
    text-align: center;
    color: var(--blanc);
}

.paragraphe{
    font-family:"Overlock" ;
    text-align: center;
    color:var(--noir);
    font-size: 12px;
    
}
.textedescription {
    width:80vh;
    font-size: 16px;
    text-align: center;
    font-family:"Overlock" ;
    color: var(--blanc);
    
}
.containerfleche{
    display: flex;
    flex-direction: column;
    width:150px;
    height:150px;
}

@media screen and (max-width: 1500px){
    .fleche img {
        width: 8vh;
        height: 8vh;
    }
    
}

@media screen and (max-width:1200px) {
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 13px;
    }

}

@media screen and (max-width:800px) {
    .titrehistoire{
        font-family: "PT Serif", serif;
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        width:90vw;
        text-align: center;
        color: var(--blanc);
    }
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 13px;
    }

    .textedescription {
        width:70vw;
        font-size: 16px;
        margin-bottom: 10%;
        text-align: center;
        font-family:"Overlock" ;
        color: var(--blanc);
    }

    .containerfleche{
        display: flex;
        flex-direction: column;
        width:150px;
        height:150px;
    }

    
    .fleche img {
    width: 6vh;
    height: 6vh;
    

    }
   

}

@media screen and (max-width: 500px) {
    .titrehistoire{
        font-family: "PT Serif", serif;
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        width:90vw;
        text-align: center;
        color: var(--blanc);
        margin-bottom: 0;
    }

    .textedescription {
        width:70vw;
        font-size: 16px;
        text-align: center;
        font-family:"Overlock" ;
        color: var(--blanc);
    }
    .paragraphe{
        width:80vw;
        font-family:"Overlock" ;
        text-align: center;
        color:var(--blanc);
        font-size: 11px;
    }
    
}



.containerfleche {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.titredesc {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titre, .chapitre1, .chapitre2, .chapitre3, .chapitre4, .chapitre5, .chapitre6, .chapitre7, .chapitre8 {
    width:100vw;
    height:100vh;
    margin:0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #f53434;
}


.chapitre1 {
    background-image: url("../img/img_arriere_plan/chapitre_1/background_ciel_chapitre_1.png");
}

.chapitre2 {
    background-image: url("../img/img_arriere_plan/chapitre_2/background_foret_arbre_loin__chapitre_2.png");  
}

.chapitre3 {
    background-image: url("../img/img_arriere_plan/chapitre_3/background_vide_noir_chapitre_3.png");  
    object-fit: cover;
    background-position: bottom;
}

.chapitre4 {
    background-image: url("../img/img_arriere_plan/chapitre_4/background_foret_chapitre_4.png");  
}

.chapitre5 {
    background-image: url("../img/img_arriere_plan/chapitre_5/background_foret_arbre_arriere_chapitre_5.png");
}

.chapitre6 {
    background-image: url("../img/img_arriere_plan/chapitre_6/background_vide_chapitre_6.png");  
}

.chapitre7 {
    background-image: url("../img/img_arriere_plan/chapitre_7/background_foret_chapitre_7.png"); 
}

.chapitre8 {
    background-image: url("../img/img_arriere_plan/chapitre_8/background_foret_chapitre_8.png"); 
}


/*------------------------------------------------- page spritesheet ---------------------------------------------------*/

.containersprite{
    height:500vh;
}
.isScrolling .bgsprite{
animation-play-state: running;
}


.couleurspritebg{
    position: fixed;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
}


.bgsprite{
    width:50vh;
    height:auto;
    aspect-ratio: 1/1;
    background-size: 6000% 100%;
    animation-duration:3s ;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
    filter: drop-shadow( 0 0 100px var(--blanc)) brightness(10000%);
}

.bgsprite.un {
    background-image: url("../img/img_elements_visuels/spritesheet/spritesheet_boule_grossit.png");
    animation-name:bouleGrossit;
}

@keyframes bouleGrossit {
    from { background-position: 0 0;}
    to { background-position: 6000% 0 ;}
    
}




.bgsprite.deux{
    background-image: url("../img/img_elements_visuels/spritesheet/spritesheet_boule_clignotement.png");
    animation-name:bouleClignottement;
}

@keyframes bouleClignottement {
    from { background-position: 0 0;}
    to { background-position: 6000% 0 ;}
    
}
/*
@media screen and (max-width: 800px) {
    .bgsprite.un, .bgsprite.deux{
        width:200px;
        height: 200px;
    }
}
*/
